<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Medicine</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">DPM</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/articles">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/medicines">Medicine<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/appointment/patient">Appointment</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle" style="font-size: 2rem;"></i>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/personal_info">
              <i class="bi bi-info-circle"></i>
              Personal information
            </a>

            <a class="dropdown-item" href="/logout">
              <i class="bi bi-box-arrow-right"></i>
              Log out
            </a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <h1 class="mb-4">Edit Drug</h1>

    <form action="/medicines/<%= drug.id %>?_method=PUT" method="POST">
      <%- include('_form_fields') %>
    </form>
  </div>
</body>
</html>