<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Drug</title>
</head>
<body>
  <%- include('../partials/header') %>
  <div class="container">
    <h1 class="mb-4">Search Drug</h1>

    <form action="/medicines/search" method="POST">
      <div class="form-group">
        <label for="name">Name</label>
        <input required value="<%= name %>" type="text" name="name" id="name" class="form-control">
      </div>
      <a href="/medicines" class="btn btn-secondary">Cancel</a>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>
</body>
</html>