<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Medicine</title>
</head>
<body>
  <div class="container">
    <h1 class="mb-1"><%= drug.name %></h1>
    <div class="text-muted mb-2">
      <%= drug.date.toLocaleDateString() %>
    </div>
    <a href="/medicines" class="btn btn-secondary">All Drugs</a>
    <% if(role === "Admin") { %>
    <a href="/medicines/edit/<%= drug.id %>" class="btn btn-info">Edit</a>
    <% } %>
    <div>
      <%- drug.sanitizedHtml %>
    </div>
  </div>
</body>
</html>