<footer class="footer py-2 footer-lg" style="background-color: lightgray;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-lg-start" style="text-align: center">Copyright &copy; Connect Hospital 2023</div>
        </div>
    </div>
</footer>