<footer class="footer py-2 footer-lg" style="background-color: lightgray;">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 text-lg-start" align="left">Copyright &copy; DPM 2022</div>
            <div class="col-lg-5 text-lg-end" align="right">
                <a class="link-dark text-decoration-none me-3" href="#">Privacy Policy</a>
                <a class="link-dark text-decoration-none" href="#">Terms of Use</a>
            </div>
        </div>
    </div>
</footer>
