<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">DPM</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <% if(role && role !== "Admin") { %>
                <li class="nav-item">
                    <a class="nav-link" href="/articles">Blog</a>
                </li>
            <% } %>
            <li class="nav-item">
                <a class="nav-link" href="/medicines">Medicine</a>
            </li>
            <% if(role && role !== "Admin") { %>
                <li class="nav-item">
                    <a class="nav-link" href="/blood_pressure">Blood Pressure</a>
                </li>
            <% } %>
            <% if(role && role === "Doctor") { %>
                <li class="nav-item">
                    <a class="nav-link" href="/appointment/doctor">Appointment</a>
                </li>
            <% } %>
            <% if(role && role === "Patient") { %>
                <li class="nav-item">
                    <a class="nav-link" href="/appointment/patient">Appointment</a>
                </li>
            <% } %>
            <% if(role && role !== "Admin") { %>
                <li class="nav-item">
                    <a class="nav-link" href="/prescription">Prescription</a>
                </li>
            <% } %>
            <% if(role && role === "Admin") { %>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/manage_account">Manage Account</a>
                </li>
            <% } %>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-circle" style="font-size: 2rem;"></i>
                </a>
                <div class="dropdown-menu">
                    <% if(role && role !== "Admin") { %>
                        <a class="dropdown-item" href="/personal_info">
                            <i class="bi bi-info-circle"></i>
                            Personal information
                        </a>
                    <% } %>

                    <% if(role && role !== "Admin") { %>
                        <a class="dropdown-item" href="/articles/my_articles">
                            <i class="bi bi-info-circle"></i>
                            My articles
                        </a>
                    <% } %>


                    <% if(!role) { %>
                        <a class="dropdown-item" href="/login">
                            <i class="bi bi-box-arrow-in-left"></i>
                            Log in/ Register
                        </a>
                    <% } else { %>
                        <a class="dropdown-item" href="/logout">
                            <i class="bi bi-box-arrow-right"></i>
                            Log out
                        </a>
                    <% } %>
                </div>
            </li>
        </ul>
    </div>
</nav>